{{ $input := . }}


<section
    class="event-title-section"
    {{- with resources.Get $input.backgroundImage }}
        style="background-image: url('{{ .RelPermalink }}');"
    {{ end }}>
    <div class="event-title-section__header">
        <h1 class="event-title-section__heading">
            {{- $input.title }}
        </h1>
        <h2 class="event-title-section__subheading">
            {{- if and $input.startDate $input.endDate }}
                {{ $start := $input.startDate | time.AsTime }}
                {{ $end := $input.endDate | time.AsTime }}
                {{- $start.Format "2" }}-{{ $end.Format "2 January 2006" }}<br/>
            {{- else if $input.startDate }}
                {{- $input.startDate | time.AsTime | time.Format "2 January 2006" }}<br/>
            {{- end }}
            <span class="event-title-section__location">{{ $input.location }}</span>
        </h2>
    </div>

    <div class="event-title-section__footer">
        {{- if $input.startDate }}
            {{ partial "countdown.html" (dict "targetDate" $input.startDate) }}
        {{- end }}

        {{- partial "cta/button.html" (dict "eventbriteId" $input.eventbriteId "ctaUrl" $input.ctaUrl) }}
    </div>
</section>
