{{ $input := . }}


<div class="section-container">
    <section class="section event-highlights-section">
        <header class="event-highlights-section__header">
            {{- with resources.Get $input.logo }}
                <img
                    class="event-highlights-section__logo"
                    src="{{ .RelPermalink }}"
                    {{ if not (eq .MediaType.SubType "svg") }}
                        width="{{ .Width }}" height="{{ .Height }}"
                    {{ end }} />
            {{ end }}
            <article class="event-highlights-section__description">
                <h1 class="heading heading--highlighted">
                    {{ $input.title }}
                </h1>
                <h2 class="heading heading--2">
                    {{ $input.subtitle }}
                </h2>
            </article>
        </header>

        <div class="event-highlights-section__content">
            <article class="event-highlights-section__about">
                <p class="paragraph event-highlights-section__paragraph">{{ $input.description | markdownify }}</p>
            </article>

            {{- if $input.importantDates }}
            <aside class="event-highlights-section__dates">
                <h3 class="heading heading--3">Important Dates</h3>
                <p class="event-highlights-section__dates-note">All dates are 23:59 AoE (Anywhere on Earth)</p>
                <ul class="event-highlights-section__dates-list">
                    {{ range $input.importantDates }}
                        <li class="event-highlights-section__date-item">
                            <span class="event-highlights-section__date-name">{{ .name }}</span>
                            <span class="event-highlights-section__date-value">
                                {{ $startDate := time .date }}
                                {{ if .endDate }}
                                    {{ $endDate := time .endDate }}
                                    {{ $startDate.Format "2" }}-{{ $endDate.Format "2 Jan 2006" }}
                                {{ else }}
                                    {{ $startDate.Format "2 Jan 2006" }}
                                {{ end }}
                            </span>
                        </li>
                    {{ end }}
                </ul>
            </aside>
            {{- end }}
        </div>

        {{- if or $input.numberOfSpeakers $input.numberOfSessions $input.numberOfDays $input.location }}
        <article class="event-highlights-section__figures">
            {{- if $input.numberOfSpeakers }}
                {{ partial "highlight-figure.html" (
                    dict
                    "icon" "icons/speaker.svg"
                    "caption" (T "event_highlights_section.number_of_speakers" $input.numberOfSpeakers)
                    )
                }}
            {{- end }}
            {{- if $input.numberOfSessions }}
                {{- partial "highlight-figure.html" (
                    dict "icon" "icons/session.svg"
                    "caption" (T "event_highlights_section.number_of_sessions" $input.numberOfSessions)
                    )
                }}
            {{- end }}
            {{- if $input.numberOfDays }}
                {{- partial "highlight-figure.html" (
                    dict "icon" "icons/calendar.svg"
                    "caption" (T "event_highlights_section.number_of_days" $input.numberOfDays)
                    )
                }}
            {{- end }}
            {{- if $input.location }}
                {{- partial "highlight-figure.html" (
                    dict "icon" "icons/location.svg"
                    "caption" $input.location
                    )
                }}
            {{- end }}
        </article>
        {{- end }}
    </section>
</div>
