{{ define "main" }}
    <div class="section-container">
        <section class="section about">
            <h1 class="heading heading--1">{{ .Title }}</h1>
            <article class="markdown about__text">
                {{ .Content }}
                {{ if .Pages }}
                    <ul>
                        {{ range .Pages }}
                            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                {{ end }}
            </article>
        </section>
    </div>
{{ end }}
