{{ $input := . }}


<article class="shaped-image">
    {{- if not $input.hideDottedSquare }}
        <figure class="shaped-image__figure">
            {{- partial "graphics/dotted-square.html" }}
        </figure>
    {{- end }}


    {{- $imgClass := cond $input.hideDottedSquare "shaped-image__image shaped-image__image--no-dotted-square" "shaped-image__image" }}
    {{- $resource := $input.imageResource }}
    {{- if not $resource }}
        {{- $resource = resources.Get "images/shaped-image-fallback.webp" }}
    {{- end }}
    {{- with $resource }}
        {{- if eq .MediaType.SubType "svg" }}
            <img class="{{ $imgClass }}" src="{{ .RelPermalink }}" alt="{{ $input.imageAlt }}" />
        {{- else }}
            {{- $processed := .Fit "600x600 webp q85" }}
            <img class="{{ $imgClass }}" src="{{ $processed.RelPermalink }}" alt="{{ $input.imageAlt }}" width="{{ $processed.Width }}" height="{{ $processed.Height }}" />
        {{- end }}
    {{- end }}
</article>
