{{ $organisers := slice }}
{{ range $o := .Site.Params.themes.event.organisers }}
    {{ if $o.fullName }}
        {{ $organisers = $organisers | append $o }}
    {{ end }}
{{ end }}
{{ $sponsors := slice }}
{{ range $s := .Site.Params.themes.event.sponsors }}
    {{ if $s.fullName }}
        {{ $sponsors = $sponsors | append $s }}
    {{ end }}
{{ end }}

{{ if or (gt (len $organisers) 0) (gt (len $sponsors) 0) }}
    <aside class="sponsors-sidebar" aria-label="Organisers and Sponsors">
        {{ if gt (len $organisers) 0 }}
            <h3 class="sponsors-sidebar__heading">Organisers</h3>
            <div class="sponsors-sidebar__tier">
                <div class="sponsors-sidebar__logos">
                    {{ range $s := $organisers }}
                        <a href="{{ $s.url }}" target="_blank" rel="noopener noreferrer" class="sponsors-sidebar__link" title="{{ $s.fullName }}">
                            {{ $img := resources.Get $s.logo }}
                            {{ if $img }}
                                {{ $logo := $img.Fit "200x80 webp q90" }}
                                <img src="{{ $logo.RelPermalink }}" alt="{{ $s.fullName }}" class="sponsors-sidebar__logo" width="{{ $logo.Width }}" height="{{ $logo.Height }}" />
                            {{ else }}
                                <span class="sponsors-sidebar__name">{{ $s.fullName }}</span>
                            {{ end }}
                        </a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
        {{ if gt (len $sponsors) 0 }}
            <h3 class="sponsors-sidebar__heading">Sponsors</h3>
            <div class="sponsors-sidebar__tier">
                <div class="sponsors-sidebar__logos">
                    {{ range $s := $sponsors }}
                        <a href="{{ $s.url }}" target="_blank" rel="noopener noreferrer" class="sponsors-sidebar__link" title="{{ $s.fullName }}">
                            {{ $img := resources.Get $s.logo }}
                            {{ if $img }}
                                {{ $logo := $img.Fit "200x80 webp q90" }}
                                <img src="{{ $logo.RelPermalink }}" alt="{{ $s.fullName }}" class="sponsors-sidebar__logo" width="{{ $logo.Width }}" height="{{ $logo.Height }}" />
                            {{ else }}
                                <span class="sponsors-sidebar__name">{{ $s.fullName }}</span>
                            {{ end }}
                        </a>
                    {{ end }}
                </div>
            </div>
        {{ end }}
    </aside>
{{ end }}
