{{ define "main" }}
    <div class="section-container">
        <section class="section single-speaker-section">
            <div class="single-speaker-section__avatar">
                {{- partial "speaker-avatar.html" (
                    dict
                    "avatarResource" (.Resources.GetMatch "avatar.*")
                    "avatarAlt" page.Title
                    )
                }}
            </div>

            <div class="single-speaker-section__biography">
                <article class="speaker-biography">
                    <h1 class="h1 speaker-biography__name">{{ page.Title }}</h1>
                    <h2 class="speaker-biography__slogan">{{ page.Params.tagLine }}</h2>

                    {{- if page.Params.talkTitle }}
                    <div class="speaker-biography__section">
                        <h3 class="speaker-biography__section-heading">Talk Title</h3>
                        <p class="speaker-biography__talk-title">{{ page.Params.talkTitle }}</p>
                    </div>
                    {{- end }}

                    {{- if page.Params.talkAbstract }}
                    <div class="speaker-biography__section">
                        <h3 class="speaker-biography__section-heading">Abstract</h3>
                        <p class="speaker-biography__description">{{ page.Params.talkAbstract | markdownify }}</p>
                    </div>
                    {{- end }}

                    {{- if page.Params.bio }}
                    <div class="speaker-biography__section">
                        <h3 class="speaker-biography__section-heading">Biography</h3>
                        <div class="speaker-biography__description">{{ page.Params.bio | markdownify }}</div>
                    </div>
                    {{- end }}
                </article>
            </div>
        </section>

        {{- partial "sections/cta.html" (
            dict
            "eventbriteId" .Site.Params.themes.event.callToAction.eventbrite.eventId
            "ctaUrl" .Site.Params.themes.event.callToAction.other.url
            )
        }}
    </div>
{{ end }}
